extends partials/templates/template.pug

block content
  header
    include partials/components/header.pug
  main
    include partials/components/problems.pug
    include partials/components/experts.pug
    include partials/components/help.pug
    include partials/components/features.pug

