.footer{
  background-color: $black;
  color: $white;
  text-align: center;
  padding-bottom: 50px;

  &__contacts-block {
    background-color: #1e2432;
  }

  &__nav-footer {
        &__phone {
      font-size: 16px;
    @include mq($from:xs, $until:xl) {
      padding: 0;
      margin: 0;
      line-height: 2;
    }
  }
    .row {
      justify-content: space-between;
      flex-wrap: nowrap;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      padding-top: 50px;
    }

    &__logo{
      max-width: 25%;
      flex: 0 0 25%;

      img{
        display: block;
        width: 180px;
        height: auto;
        align-items: flex-start;
      }
    }
    &__phone-inner {
      flex: 0 0 25%;
      max-width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      a {
        color: $white;
      }
    }



    &__order {
      font-size: 14px;
      padding-top: 29px;
      &:hover {
        border-bottom: 1px solid $white;
      }
    }
}
}
.contact-send {
  text-align: center;
  min-height: 430px;
  display: none;
    @include mq($from:xs, $until:md) {
      max-height: 300px;
    }
  &__thanks {
    font-size: 46px;
    font-family: $bold;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
    padding-top: 60px;
    @include mq($from:xs, $until:md) {
      font-size: 23px;
      padding-top: 50px;
    }
  }

  &__img {
    padding-top: 15px;
    max-height: 70px;
    max-width: 70px;
    display: inline-block;

    img {
      object-fit:cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-size: 20px;
    font-family: $bold;
    margin-top: 0;
    padding-top: 0;
    margin-top: 50px;
    position: relative;
    @include mq($from:xs, $until:md) {
      font-size: 18px;
      margin-top: 40px;
    }
  }
}

.contacts {
  padding: 60px 0 90px;
  letter-spacing: 0;
  // max-height: 430px;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mq($from:xs, $until:md) {
    // max-height: 300px;
  }

  &__title {
    font-size: 46px;
    font-family: $bold;
    margin-top: 0;
    padding-top: 0;
    @include mq($from:xs, $until:md) {
      font-size: 23px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  &__input {
    background-color: transparent;
    outline-width: thin;
    border: none;
    border-bottom: 2px solid $white;
    padding: 10px 40px 10px 55px;
  }

  input:focus {
    border-bottom: 2px solid $white;
    outline: none;
  }

  &__button {
    background-color: $white;
    color: $black;
    outline: none;
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
    border-radius: 5px;
    margin-top: 20px;
    transition: .6s;

    &:hover {
      background-color: rgba(255,255,255, 0.8);
    }
  }
}


.nav {
  &__copyright {
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 32px;
  }
}
