.footer{
  background-color: $black;
  color: $white;
  text-align: center;
  padding-bottom: 50px;

  &__contacts-block {
    background-color: #1e2432;
  }

  &__nav-footer {
        &__phone {
      font-size: 16px;
    @include mq($from:xs, $until:xl) {
      padding: 0;
      margin: 0;
      line-height: 2;
    }
  }
    .row {
      justify-content: space-between;
      flex-wrap: nowrap;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      padding-top: 50px;
    }

    &__logo{
      max-width: 25%;
      flex: 0 0 25%;

      img{
        display: block;
        width: 180px;
        height: auto;
        align-items: flex-start;
      }
    }
    &__phone-inner {
      flex: 0 0 25%;
      max-width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      a {
        color: $white;
      }
    }



    &__order {
      font-size: 14px;
      padding-top: 29px;
      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}
.contact-send {
  text-align: center;
  min-height: 430px;
  display: none;
    @include mq($from:xs, $until:md) {
      max-height: 300px;
    }
  &__thanks {
    font-size: 46px;
    font-family: $bold;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
    padding-top: 60px;
    @include mq($from:xs, $until:md) {
      font-size: 23px;
      padding-top: 50px;
    }
  }

  &__img {
    padding-top: 15px;
    max-height: 70px;
    max-width: 70px;
    display: inline-block;

    img {
      object-fit:cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-size: 20px;
    font-family: $bold;
    margin-top: 0;
    padding-top: 0;
    margin-top: 50px;
    position: relative;
    @include mq($from:xs, $until:md) {
      font-size: 18px;
      margin-top: 40px;
    }
  }
}

.contacts {
  padding: 60px 0 90px;
  letter-spacing: 0;
  // max-height: 430px;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mq($from:xs, $until:md) {
    // max-height: 300px;
  }

  &__title {
    font-size: 46px;
    font-family: $bold;
    margin-top: 0;
    padding-top: 0;
    @include mq($from:xs, $until:md) {
      font-size: 23px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  &__input {
    background-color: transparent;
    outline-width: thin;
    border: none;
    border-bottom: 2px solid $white;
    padding: 10px 40px 10px 55px;
  }

  input:focus {
    border-bottom: 2px solid $white;
    outline: none;
  }

  &__button {
    background-color: $white;
    color: $black;
    outline: none;
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
    border-radius: 5px;
    margin-top: 20px;
    transition: .6s;

    &:hover {
      background-color: rgba(255,255,255, 0.8);
    }
  }
}



.nav-footer {
    align-items: center;

  .row {
    justify-content: space-between;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 50px;
    @include mq($from:xs, $until:xl){
      flex-direction: column;
    }
  }

  &__logo{
    max-width: 170px;
    max-height: 68px;
    min-width: 120px;
    min-height: 50px;
    flex: 0 0 20%;
    @include mq($from:xs, $until:xl){
      order: 1;
      align-items: center;
      margin-left: 28%;
      max-width: 65%;
      padding-bottom: 20px;
    }
    @include mq($from:sm, $until:md){
      left: 35%;
    }
    @include mq($from:md, $until:xl){
      left: 42%;
    }
    &__img{
      display: block;
      width: 180px;
      height: auto;
    }
  }
  &__phone-inner {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mq($from:xs, $until:xl){
      order: 2;
      align-items: center;
      flex: 0 0 100%;
      max-width: 100%;
    }

    a {
      color: $white;
    }
  }

  &__phone {
    font-size: 16px;
    @include mq($from:xs, $until:xl) {
      padding: 0;
      margin: 0;
      line-height: 6;
    }
  }

  &__order {
    font-size: 14px;
    padding-top: 8px;
    border-bottom: 1px solid transparent;
    margin-top: 25px;
    @include mq($from:xs, $until:xl){
      padding: 0;
      margin-bottom: 15px;
      margin-top: 0;
    }

    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}


.navigation-footer {
  flex: 0 0 50%;
  max-width: 50%;
  align-items: center;
  @include mq($from:xs, $until:xl){
    max-width: 100%;
    flex: 0 0 100%;
    align-items: center;
    order: 3;
  }
  &__copyright {
    padding-top: 20px;
    @include mq($from:xs, $until:xl){
      display: none;
    }
  }
  &__copyright-second {
    display: none;
    @include mq($from:xs, $until:xl){
      padding-top: 20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
    }
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    @include mq($from:xs, $until:xl){
      display: none;
    }
  }

  &__min-call,
  &__min-order {
    display: none;
    @include mq($from:xs, $until:xl){
      display: block;
      padding-top: 20px;
        a {
          color: $white;
      }
    }
  }

  &__min-call {
    a {
      font-size: 16px;
      border-bottom: 1px solid $white;
    }
  }

  &__min-order {
    a {
      border-bottom: 1px solid $white;
    }
  }

  &__item{
    text-transform: uppercase;

    @include mq($from:xs, $until:xl){
      width: 100%;
    }
    a {
      color: $white;
      font-size: 12px;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}
