.header{
  min-height: 800px;
  background-image: url(../img/Promo-block-index.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  color: $white;
  @include mq($from:xs, $until:sm){
    min-height: 500px;
    background-image: url(../img/Promo-block-index-320.jpg);
  }

  .row {
    justify-content: space-between;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 50px;
    @include mq($from:xs, $until:xl){
      padding-top: 25px;
    }
  }

  &__logo{
    max-width: 25%;
    flex: 0 0 25%;
    @include mq($from:xs, $until:xl){
      order: 2;
      max-width: 55%;
      position: absolute;
      left: 25%;
    }
    @include mq($from:sm, $until:md){
      left: 35%;
    }
    @include mq($from:md, $until:xl){
      left: 42%;
    }
    &__img{
      display: block;
      width: 180px;
      height: auto;
    }
  }
  &__phone-inner {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mq($from:xs, $until:xl){
      order: 3;
      flex: 0 0 15%;
      max-width: 15%;
    }

    a {
      color: $white;
    }
  }

  &__phone {
    font-size: 16px;
    @include mq($from:xs, $until:xl){
      font-size: 0;
      height: 20px;
      width: 20px;
      background-image: url(../img/phone.svg);
      transform: rotate(270deg);
    }
  }

  &__order {
    font-size: 14px;
    padding-top: 8px;
    &:hover {
      border-bottom: 1px solid $white;
    }
    @include mq($from:xs, $until:xl){
      display: none;
    }
  }
}


.nav {
  flex: 0 0 50%;
  max-width: 50%;
  align-items: center;
  @include mq($from:xs, $until:xl){
    max-width: 100%;
    // flex: 0 0 100%;
    position: relative;
    z-index: 100;
  }
  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:xl){
      display: block;
      width: 10%;
      z-index: 1000;
      position: absolute;
    }
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    @include mq($from:xs, $until:xl){
      display: none;
      padding: 0;
      text-align: center;
      margin-top: 0;
      flex-direction: column;
      // max-width: 100%;
      position: absolute;
      background-color: #1c202c;
      top: 0;
      z-index: 10;
      padding-top: 40px;
      text-align: left;
      padding-bottom: 30px;
      width: 285px;
        .nav__item {
          padding-top: 12px;
        }
    }
  }

  &__min-call,
  &__min-order {
    display: none;
    @include mq($from:xs, $until:xl){
      display: block;
      padding-top: 20px;
        a {
          color: $white;
      }
    }
  }

  &__min-call {
    a {
      font-size: 16px;
      border-bottom: 1px solid $white;
    }
  }

  &__min-order {
    a {
      border-bottom: 1px solid $white;
    }
  }

  &__item{
    text-transform: uppercase;

    @include mq($from:xs, $until:xl){
      width: 100%;
    }
    a {
      color: $white;
      font-size: 12px;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}

.hamburger{
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;

  &:after {
    content: '';
    background-image: url(../img/bars.svg);
    background-size: cover;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 0;
  }
}

.promo {

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 55%;
    max-width: 55%;
    @include mq($from:xs, $until:xl){
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  &__title {
    font-size: 46px;
    margin-top: 70px;
    letter-spacing: 0;
    font-family: $bold;
    @include mq($from:xs, $until:sm){
      margin-top: 65px;
      font-size: 26px;
    }
  }

  &__btn {
    display: inline-block;
    background-color: $white;
    max-width: 70%;
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
    border-radius: 5px;
    color: $black;
    @include mq($from:xs, $until:xl){
      display: none;
    }


    &:hover {
      background-color: rgba(255,255,255, 0.8);
    }
  }
}

.header--rent {
  background-image: url(../img/Promo-block-arenda.jpg);
  min-height: 650px;
  @include mq($from:xs, $until:sm){
    background-image: url(../img/Promo-block-arenda.jpg);
  }
}

.promo--rent {
  .promo__wrapper {
    flex: 0 0 70%;
    max-width: 70%;
    @include mq($from:xs, $until:xl){
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

.header--resellers {
  background-image: url(../img/Promo-block-twohands.jpg);
  min-height: 650px;
  @include mq($from:xs, $until:sm){
    background-image: url(../img/Promo-block-twohands.jpg);
  }
}

.header--commerce {
  background-image: url(../img/Promo-block-commerce.jpg);
  min-height: 650px;
  @include mq($from:xs, $until:sm){
    background-image: url(../img/Promo-block-commerce.jpg);
  }
}

.promo--commerce {
  .promo__wrapper {
    flex: 0 0 80%;
    max-width: 80%;
    @include mq($from:xs, $until:xl){
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

.header--support {
  background-image: url(../img/Promo-block-support.jpg);
  min-height: 650px;
  @include mq($from:xs, $until:sm){
    background-image: url(../img/Promo-block-support.jpg);
  }
}

.promo--support {
  h1 {
    text-transform: uppercase;
  }
}


.nav-footer {
  flex: 0 0 50%;
  max-width: 50%;
  align-items: center;
  @include mq($from:xs, $until:xl){
    display: none;
  }
}


.nav-footer {

  .row {
    justify-content: space-between;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 50px;
    @include mq($from:xs, $until:xl){
      padding-top: 25px;
    }
  }

  &__logo{
    max-width: 25%;
    flex: 0 0 25%;
    @include mq($from:xs, $until:xl){
      order: 2;
      max-width: 55%;
      position: absolute;
      left: 25%;
    }
    @include mq($from:sm, $until:md){
      left: 35%;
    }
    @include mq($from:md, $until:xl){
      left: 42%;
    }
    &__img{
      display: block;
      width: 180px;
      height: auto;
    }
  }
  &__phone-inner {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mq($from:xs, $until:xl){
      order: 3;
      flex: 0 0 15%;
      max-width: 15%;
    }

    a {
      color: $white;
    }
  }

  &__phone {
    font-size: 16px;
    @include mq($from:xs, $until:xl){
      font-size: 0;
      height: 20px;
      width: 20px;
      background-image: url(../img/phone.svg);
      transform: rotate(270deg);
    }
  }

  &__order {
    font-size: 14px;
    padding-top: 8px;
    &:hover {
      border-bottom: 1px solid $white;
    }
    @include mq($from:xs, $until:xl){
      display: none;
    }
  }
}


.navigation-footer {
  flex: 0 0 50%;
  max-width: 50%;
  align-items: center;
  @include mq($from:xs, $until:xl){
    max-width: 100%;
    // flex: 0 0 100%;
    position: relative;
    z-index: 100;
  }
  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:xl){
      display: block;
      width: 10%;
      z-index: 1000;
      position: absolute;
    }
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    @include mq($from:xs, $until:xl){
      display: none;
      padding: 0;
      text-align: center;
      margin-top: 0;
      flex-direction: column;
      // max-width: 100%;
      position: absolute;
      background-color: #1c202c;
      top: 0;
      z-index: 10;
      padding-top: 40px;
      text-align: left;
      padding-bottom: 30px;
      width: 285px;
        .nav__item {
          padding-top: 12px;
        }
    }
  }

  &__min-call,
  &__min-order {
    display: none;
    @include mq($from:xs, $until:xl){
      display: block;
      padding-top: 20px;
        a {
          color: $white;
      }
    }
  }

  &__min-call {
    a {
      font-size: 16px;
      border-bottom: 1px solid $white;
    }
  }

  &__min-order {
    a {
      border-bottom: 1px solid $white;
    }
  }

  &__item{
    text-transform: uppercase;

    @include mq($from:xs, $until:xl){
      width: 100%;
    }
    a {
      color: $white;
      font-size: 12px;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}




