.experts {
  // background-image: url(../img/house_right.jpg);
  // background-repeat: no-repeat;
  // background-position: right center;
  padding: 60px 0 130px;
  background-size: contain;
  position: relative;
  @include mq($from:xs, $until:lg){
    padding: 30px 0;
    background: none;
  }

  .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

  }

  &__img {
    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  @include mq($from:xs, $until:lg){
    display: none;
    }
  }

  &__wrapper {
    max-width: 55%;
  @include mq($from:xs, $until:lg){
    max-width: 100%;
    }
  }

  &__inner {
    max-width: 45%;
  }

    &__block-title {
    margin: 0;
    letter-spacing: 0;
    font-size: 46px;
    font-family: $bold;
      @include mq($from:xs, $until:lg) {
      font-size: 26px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0;
    padding-top: 35px;
    font-family: $bold;
    @include mq($from:xs, $until:lg) {
      font-size: 16px;
      padding-top: 20px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    @include mq($from:xs, $until:lg) {
      font-size: 14px;
    }
  }

  &__block:nth-of-type(1) {
    max-width: 78%;
  @include mq($from:xs, $until:lg){
    max-width: 100%;
    }
  }
  &__block:nth-of-type(2) {
    max-width: 62%;
  @include mq($from:xs, $until:lg){
    max-width: 100%;
    }
  }
  &__block:nth-of-type(3) .experts__text{
    max-width: 62%;
  @include mq($from:xs, $until:md){
    max-width: 100%;
    }
  }
  &__block:nth-of-type(4) .experts__text{
    max-width: 78%;
  @include mq($from:xs, $until:md){
    max-width: 100%;
    }
  }
  &__block:nth-of-type(5) {
    max-width: 85%;
  @include mq($from:xs, $until:md){
    max-width: 100%;
    }
  }
}