.payment {
  background-image: url(../img/photo_legenda.jpg);
  background-size: cover;
  color: $white;
  letter-spacing: 0;
  padding: 60px 0;

  &__block-title {
    font-size: 46px;
    font-family: $bold;
    margin: 0;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &__sub-title {
    font-size: 20px;
    font-family: $bold;
  }

  &__block-inner {
    padding-top: 30px;

    p {
      font-size: 16px;
      line-height: 22px;
      margin: 0;
    }
  }

  &__title {
    font-size: 20px;
    font-family: $bold;
    text-transform: uppercase;
  }
}