.support {
  padding-top: 60px;
  background-size: contain;
  background-image: url(../img/Denis_L.jpg);
  background-repeat: no-repeat;
  background-position: 100% 180px;
  background-size: 550px 1100px;

  @include mq($from:xs, $until:xl){
    padding: 30px 0;
    background: none;
  }

  &__title {
    font-size: 46px;
    letter-spacing: 0;
    font-family: $bold;
    margin-top: 0;
    @include mq($from:xs, $until:md) {
      font-size: 26px;
      font-family: $bold;
    }
  }

  &__wrapper {
    max-width: 50%;
    @include mq($from:xs, $until:xl) {
      max-width: 100%;
  }
}

  &__inner {
    max-width: 50%;
    @include mq($from:xs, $until:xl) {
      display: none;
    }
  }

  // &__img {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   height: 1030px;
  //   img {
  //     height: 100%;
  //   }
  // }

  &__item {
    list-style-type: none;
    &--last {
      padding-bottom: 80px;
    }
  }

  .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
  }

  &__quote {
    font-size: 16px;
  }

  &__cite {
    padding-left: 110px;
    font-size: 16px;
    font-style: italic;
    font-family: $bold;
    @include mq($from:xs, $until:md) {
      padding-left: 40px;
    }
  }

  &__subtitle {
    font-size: 30px;
    letter-spacing: 0;
    font-family: $bold;
    padding-top: 20px;
    @include mq($from:xs, $until:md) {
      font-size: 20px;
      padding-top: 0;
      font-family: $bold;
    }
  }

  &__list {
    padding: 0;
    position: relative;
  }

  &__features {
    color: #3b42b0;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 0;
    font-weight: 600;
  }

  &__features-text {
    font-size: 16px;
  }
}

.active {
   .support__features-text {
      display: block;
   }
}


.support__features-text {
  display: none;
}

