//------------------------------------------------------------------------------
//  Basic styles - global scaffolding
//------------------------------------------------------------------------------
// @include font-face("Proxima Nova", ProximaNovaRegular, proximanovaregular-webfont);
// @include font-face(Acrom, Acrom, acrom900-webfont);

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: 'PTSansRegular', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  @include transition();

  &:hover,
  &:focus {
    // text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.bolder{
  font-weight: 600;
}
.boldest{
  font-weight: 700;
}

@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}




