include ../abstracts/bemto/bemto.pug

//Advantages
+b.SECTION.advantages
  .container
    +e.H2.title Всё просто и бесплатно
    +e.wrapper
      +e.inner
        +e.img
          img(src="img/1.svg")
        +e.H3.subtitle Всегда бесплатно
        p Мы консультанты:
        p зарабатываем на застройщиках,
        p а не на вас
      +e.inner
        +e.img
          img(src="img/2.svg")
        +e.H3.subtitle Действительно просто
        p Оставьте заявку, свяжемся
        p с вами по телефону, все трудности
        p возьмем на себя
      +e.inner
        +e.img
          img(src="img/3.svg")
        +e.H3.subtitle По-настоящему выгодно
        p Вам не придется тратить время
        p на изучение рынка недвижимости
