include ../abstracts/bemto/bemto.pug

//Business
+b.SECTION.business
  .container
    +e.wrapper
      +e.H2.title Быстро найдем
        </br> прибыльный дом вашему бизнесу
      +e.H3.subtitle В каталог агентства входят:
      +e.P.text — Офисные помещения разного класса и уровня
      +e.P.text — Коммерческая недвижимость в новостройках города
      +e.P.text — Производственные и складские помещения в разных районах Санкт-Петербурга
      +e.P.text — Объекты стрит-ритейла неподалеку от метро
