include ../abstracts/bemto/bemto.pug

//Experts
+b.SECTION.experts
  .container
    +e.wrapper
      +e.H2.block-title Мы экспертное агентство
      +e.block
        +e.H3.title Консультируем
        +e.P.text Помогаем вам правильно выбрать квартиру в строящемся доме. Объясняем плюсы и минусы покупки недвижимости в разных районах города
      +e.block
        +e.H3.title Помогаем купить выгодно
        +e.P.text Расскажем, как купить квартиру по минимальной цене от застройщика, используя скрытые акции и скидки
      +e.block
        +e.H3.title Организуем Индивидуальные показы объектов
        +e.P.text Ездим вместе с вами к застройщикам, ходим на строящиеся объекты, показываем и рассказываем все нюансы застройщика и инфраструктуры района
      +e.block
        +e.H3.title Разрешаем налоговые и юридические сложности
        +e.P.text Все действия и вопросы связанные с ипотекой берем на себя. Помогаем вернуть налоговый вычет с покупки недвижимости и переплаченых процентов по ипотеке (до 650 тысяч рублей)
      +e.block
        +e.H3.title Ускоряем документооборот
        +e.P.text Поможем в короткий срок собрать и оформить все необходимы документы, удаленно направим запросы застройщикам и ипотечным организациям, решим все ноториальные вопросы