include ../abstracts/bemto/bemto.pug

//Features
+b.SECTION.features
  +b.features-first
    .container
      +e.H2.block-title Что предлагают обычные агенства
      +e.step
        +e.H3.title Звонок в агенство
        +e.P.text Ответим на все вопросы, договоримся о встрече или другой коммуникации
      +e.step
        +e.H3.title Встреча и консультация
        +e.P.text Любым удобным способом - встреча, переписка или телефонный звонок
      +e.step
        +e.H3.title выбор варианта оплаты
        +e.P.text Ипотека, рассрочка или 100% оплата, подберем любой удобный способ
      +e.step
        +e.H3.title Бронирование квартиры
        +e.P.text Отправим все нужные документы для фиксирования цены и квартиры
  +b.features-second
     .container
      +e.H2.block-title Мы делаем
        p то же самое, плюс
      +e.step
        +e.H3.title Изучение ДДУ
        +e.P.text Обращаем внимание на пункты, которые может изменить застройщик и расскажем, что именно написано в ДДУ
      +e.step
        +e.H3.title Подписание ДДУ
        +e.P.text Совместное заключение ДДУ с соблюдением Ваших прав
      +e.step
        +e.H3.title Сопровождение у застройщика и нотариуса
        +e.P.text Мы не бросим вас после подписания ДДУ и поможем собрать пакет документов для регистрации в УФРС
      +e.step
        +e.H3.title Информирование о ходе строительства
        +e.P.text Регулярный отчёт о ходе строительства дома
      +e.step
        +e.H3.title Решение вопросов у застройщика
        +e.P.text Финансовые, юридические и регистрационные вопросы – все возникающие сложности ложатся на нас!
      +e.step
        +e.H3.title Приемка квартиры со специалистом
        +e.P.text При сдачи квартиры вместе со специалистом находим все недостатки, оспариваем до их устранения.
      +e.step
        +e.H3.title Регистрация собственности в УФРС
        +e.P.text Поможем быстро собрать все необходимые документы для регистрации собственности
      +e.step
        +e.H3.title Получение налогового вычета
        +e.P.text Консультация и рекомендации в получении налогового вычета после покупки квартиры