include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  +e.contacts-block(id='form')
    .container
      +b.contacts
        +e.H2.title Ответим на любые вопросы
          <br> Звоните 8 (812) 939-31-98
        +e.FORM.form
          +e.LABEL.label
            +e.INPUT.input(type="tel" name="phone" placeholder="Ваш номер телефона")
          p
           +e.BUTTON.button Перезвоните мне
  +b.contact-send
     .container
       +e.H2.thanks Спасибо!
       +e.img
         img(src="img/success.svg" alt="success")
       +e.P.text Мы получили вашу заявку и
         <br>
         | перезвоним вам очень быстро!
  +b.nav-footer
    .container
      .row
        +e.logo
          img(src="img/logo_dl.svg" alt="logo")
        +b.NAV.navigation-footer
          +e.UL.list
            +e.LI.item
              a(href="index.html") Новостройки
            +e.LI.item
              a(href="rent.html") Аренда
            +e.LI.item
              a(href="resellers.html") Вторичная
            +e.LI.item
              a(href="commerce.html") Коммерция
            +e.LI.item
              a(href="support.html") Служба заботы
          +e.P.copyright © 2010—2016 «Экспертное агентство Дениса Леушина»
          +e.P.copyright-second © 2010—2016
            <br>
              |«Экспертное агентство Дениса Леушина»
        +e.phone-inner
          +e.A.phone(href="tel:88129393198") 8 (812) 939-31-98
          +e.A.order.go_to(href="#form") Обратный звонок



