include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    .row
      //Logo
      +e.logo
         img(src="img/logo_agency.png")
      +b.NAV.nav
        +e.hamburger
          +b.A.hamburger(href="#")
        +e.UL.list
          +e.LI.item
            a(href="#") Новостройки
          +e.LI.item
            a(href="#") Аренда
          +e.LI.item
            a(href="#") Вторичная
          +e.LI.item
            a(href="#") Коммерция
          +e.LI.item
            a(href="#") Служба заботы
      +e.phone-inner
        +e.A.phone(href="tel:88129393198") 8 (812) 939-31-98
        +e.A.order(href="#") Обратный звонок
  //Promo
  +b.promo
    .container
      +e.wrapper
        +e.H1.title Помогаем выгодно купить квартиру в строящемся доме
        +e.btn-wrapper
          +e.A.btn(href="#") Получить бесплатную консультацию

