include ../abstracts/bemto/bemto.pug

// Header
+b.header--resellers
  .container
    .row
      //Logo
      +e.A.logo(href="index.html")
         img(src="img/logo_dl.svg" alt="logo")
      +b.NAV.nav
        +e.hamburger
          +b.A.hamburger(href="#")
        +e.wrapper
          +e.UL.list
            +e.LI.item
              a(href="index.html") Новостройки
            +e.LI.item
              a(href="rent.html") Аренда
            +e.LI.item
              a(href="resellers.html") Вторичная
            +e.LI.item
              a(href="commerce.html") Коммерция
            +e.LI.item
              a(href="support.html") Служба заботы
            +e.LI.min-call
              a(href="tel:88129393198") 8 (812) 939-31-98
            +e.LI.min-order
              +e.A.ord.go_to(href="#form") Обратный звонок
      +e.phone-inner
        +e.A.phone(href="tel:88129393198") 8 (812) 939-31-98
        +e.A.order.go_to(href="#form") Обратный звонок
  //Promo
  +b.promo--resellers
    .container
      +e.wrapper
        +e.H1.title Покупка и продажа квартиры в Санкт-Петербурге
        +e.btn-wrapper
          +e.A.btn.go_to(href="#form") Получить бесплатную консультацию
        +e.A.arrow-inner.go_to(href="#resale")
          +e.arrow.arrow-2
