include ../abstracts/bemto/bemto.pug

//Help
+b.SECTION.help
  .container
    +e.wrapper
      +e.inner
        +e.H2.title Поможем безопасно и комфортно купить квартиру в новостройке
        +e.btn-inner
          +e.A.btn(href="#") Как мы это делаем
