include ../abstracts/bemto/bemto.pug

//Instruction
+b.instruction
  .container
    +e.wrapper
      +e.H2.title(id="instruction") Все просто!
      +e.H3.subtitle Оставьте заявку
      p Просто позвоните нам или оставьте заявку на обратный звонок на сайте
      +e.H3.subtitle Выберите квартиру, которую Вы хотите посетить
      p В кратчайший срок предложим и расскажем о подходящих вам вариантах квартир
      +e.H3.subtitle Посетите вашу будущую квартиру со специалистом
      p Вместе с вами посетим все предложенные квартиры,
      p расскажем о преимуществах и недостатках района и квартиры
      +e.H3.subtitle оформите договор аренды с собственником
      p Все юридические тонкости сделки с арендой на наших плечах.
      p Поможем вам во всем разобраться и быть уверенным в надежности
      +e.H3.subtitle Получите ключи от вашей квартиры и наслаждайтесь проживанием
      p Hикаких сюрпризов, мы гарантируем 100% надженость сделки