include ../abstracts/bemto/bemto.pug

//Payment
+b.SECTION.payment
  .container
    +e.title-inner
      +e.H2.block-title Ипотека, рассрочка
        p или 100% оплата?
      +e.P.sub-title Мы подскажем, что на самом деле будет выгоднее вам
    +e.block-inner
      +e.H3.title Ипотека от 10%
      p Заполнив одну анкету – получаете одобрение от нескольких крупных российских банков,
      p а потом сами выбираете банк с подходящими условиями.
      p Мы договорились с банками о скидках для наших клиентов.
      p Это выгоднее, чем напрямую обращаться в банк
    +e.block-inner
      +e.H3.title РАССРОЧКА
      p Правильно рассчитаем для вас выгодную рассрочку –
      p платить будет удобно
    +e.block-inner
      +e.H3.title 100% оплата
      p Используем все дополнительные акции и скидки,
      p чтобы сделать цену вашей новой квартиры выгодной