include ../abstracts/bemto/bemto.pug

//Problems
+b.SECTION.problems
  .container
    +e.wrapper
      +e.H2.title Проблемы при покупке квартиры в новостройке
      +e.UL.list
        +e.LI.item — Получить полную картину рынка недвижимости в Санкт-Петербурге
        +e.LI.item — Изучить в одиночку каждого застройщика отдельно
        +e.LI.item — Купить квартиру не выгодно
        +e.LI.item — Получить ипотечный кредит
        +e.LI.item — Купить проблемный объект
