include ../abstracts/bemto/bemto.pug

//Resale
+b.SECTION.resale
  .container
    +e.wrapper
      +e.H2.title Подберем квартиру под ваши параметры и поможем купить ее быстро
      +e.H3.subtitle Экспертное агентство - надежный проводник, который:
      +e.P.text — Поможет выбрать вам подходящую квартиру
      +e.P.text — Расскажет о всех подводных камнях выбранного вами района города
      +e.P.text — Умеет договариваться о правильной цене
      +e.P.text — Знает все юридические тонкости на рынке недвижимости
      +e.P.text — Понимает потребности и желания
    +e.wrapper--second
      +e.H2.title Поможет продать вашу квартиру
      +e.H3.subtitle  Это значит, что:
      +e.P.text — Оценим стоимость вашей квартиры/другой недвижимости
      +e.P.text — Правильно преподнесем ваш объект рынку
      +e.P.text —  Создадаим максимальный охват вашего объявления
      +e.P.text — Соберем документы для продажи
      +e.P.text — Сопроводим на сделке
