include ../abstracts/bemto/bemto.pug

//Support
+b.SECTION.support
  .container
    +e.wrapper
      +e.H2.title На службе заботы о Вас
      +e.cite-wrapper
        +e.P.quote Я создал экспертное агентство удобным для людей
          <br>
          |с разными потребностями и задачами,
          <br>
          | понимаю и несу ответственность за каждую семью,
          <br>
          |которая покупает квартиру
        +e.P.cite — Денис Леушин, основатель экспертного агентства
      +e.H3.subtitle Оцените преимущества работы с нами:
      +e.UL.list
        +e.LI.item.active
          +e.H4.features Решение вопросов у застройщика
          +e.P.features-text Больше не придется разбираться во всем в одиночку,
            <br>
            |мы контролируем весь процесс покупки квартиры
        +e.LI.item
          +e.H4.features Ежемесячное информирование о ходе строительства
          +e.P.features-text Мы каждый месяц высылаем вам отчёт по строительству вашей квартиры.
            <br>
            |Вы наглядно сможете следить за всеми этапами строительства.
        +e.LI.item
          +e.H4.features Подбор паркинга/кладовой перед сдачей дома
          +e.P.features-text Покупка дополнительных площадей в Вашем жилом комплексе. Мы поможем
            <br>
            |вам купить кладовую или паркинг без головной боли и на выгодных условиях.
        +e.LI.item
          +e.H4.features Ускорение получения ключей
          +e.P.features-text С нами вы сможете получить включи одни из первых и заехать в
            <br>
            |вашу новую квартиру как можно скорее.
        +e.LI.item
          +e.H4.features Осмотр квартиры с опытным строителем
          +e.P.features-text Мы всегда с Вами в самый важный момент - момент приемки квартиры.
            <br>
            |Опытный строитель выявит все недочеты, для того, чтобы вам не
            <br>
            |пришлось исправлять ошибки застройщика самостоятельно.
        +e.LI.item
          +e.H4.features Помощь в сборе документов на регистрацию собственности
          +e.P.features-text Курируя вашу сделку, мы поможем собрать вам все документы необходимые
            <br>
            |для регистрации собственности, потому что мы знаем как сделать
            <br>
            |это максимально быстро. Кстати, консультация для Вас бесплатная.
        +e.LI.item
          +e.H4.features Помощь в получении налогового вычета (до 650 000 &#8381;)
          +e.P.features-text Мы знаем как сэкономить ваши деньги и поможем вам получить
            <br>
            |налоговый вычет со стоимости квартиры, а так же с переплаченных процентов.
        +e.LI.item
          +e.H4.features Юридическая поддержка клиентов
          +e.P.features-text Наша команда юристов поможет решить вам любой юридический вопрос,
            <br>
            |будь то переоформление собственности на квартиру или продажа квартиры
            <br>
            |до передачи ключей, и помните, мы всегда на вашей стороне!
        +e.LI.item
          +e.H4.features Выгодные цены на отделку от наших партнеров*
          +e.P.features-text Сети наших партнёров предоставляют хорошие скидки для наших клиентов
            <br>
            |в магазинах, которые помогут сделать ремонт в вашей будущей квартире.
        +e.LI.item
          +e.H4.features Выгодные цены на стройматериалы*
          +e.P.features-text Мы предоставляем скидки для Вас в строительных магазинах,
            <br>
            | что существенно поможет сэкономить вам ваши деньги.
        +e.LI.item
          +e.H4.features Продажа/сдача в аренду квартиры
          +e.P.features-text Если вы хотите продать купленную через нас квартиру или сдать
            <br>
            | её в аренду, то мы поможем вам сделать это максимально быстро и выгодно.



