include ../abstracts/bemto/bemto.pug

//Support
+b.SECTION.support
  .container
    +e.wrapper
      +e.H2.title На службе заботы о Вас
      +e.cite-wrapper
        +e.P.quote Я создал экспертное агентство удобным для людей
          </br>
          |с разными потребностями и задачами,
          </br>
          | понимаю и несу ответственность за каждую семью,
          </br>
          |которая покупает квартиру
        +e.P.cite — Денис Леушин, основатель экспертного агентства
      +e.H3.subtitle Оцените преимущества работы с нами:
      +e.H4.features Решение вопросов у застройщика
      +e.P.features-text Больше не придется разбираться во всем в одиночку,
        </br>
        |мы контролируем весь процесс покупки квартиры
      +e.H4.features Ежемесячное информирование о ходе строительства
      +e.H4.features Подбор паркинга/кладовой перед сдачей дома
      +e.H4.features Ускорение получения ключей
      +e.H4.features Осмотр квартиры с опытным строителем
      +e.H4.features Помощь в сборе документов на регистрацию собственности
      +e.H4.features Помощь в получении налогового вычета (до 650 000 &#8381;)
      +e.H4.features Юридическая поддержка клиентов
      +e.H4.features Выгодные цены на отделку от наших партнеров*
      +e.H4.features Выгодные цены на стройматериалы*
      +e.H4.features Продажа/сдача в аренду квартиры



